/* CSS Reset */
* {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
p,
pre,
blockquote,
figure,
hr {
  margin: 0;
  padding: 0;
}

ul, ol {
  list-style: none;
}

/* Browsers don’t inherit typography for forms and buttons. They set font to 400 11px system-ui. I find this mind-boggling and weird. I always have to make them inherit from ancestor elements manually. */
input,
textarea,
select,
button {
  color: inherit;
  font: inherit;
  letter-spacing: inherit;
}

/* Different browsers have style the borders for forms elements and buttons differently. I dislike these default styles, and would prefer to set them to 1px solid gray. */
input,
textarea,
button {
  border: 2px solid #121643;
}

/* I made a few more adjustments to buttons:
Set button padding to 0.75em and 1em because they seem like sensible defaults from my experience.
Removed the default border-radius that’s applied to buttons.
Forced background color to be transparent */
button {
  border-radius: 0;
  padding: 0.75em 1em;
  background-color: transparent;
}

/* I also set these elements to display: block because inline-block creates an unwanted whitespace at the bottom of the element. */
embed,
iframe,
img,
object,
video {
  display: grid;
  max-width: 100%;
}

/* The hidden attribute
When an element has a hidden attribute, they should be hidden from view. Normalize.css does this for us already. */
[hidden] {
  display: none;
}

/* CSS Reset End--------------------------------*/
/* ----------START OF SITE SPECIFIC CSS-------- */
:root {
--main-text-color: #121643;
--main-background-color: #efeff2;
--header-font: 'Rubik', sans-serif;
--body-font: 'Karla', sans-serif;
--main-margin: 100px 35px 0 55px;
--main-padding: 20px;
}

/*
#54B2BA
#69abd7
#5c5374
#607bae
#75487C
#121643
#40222B
#efeff2
#95849E
#5C396F
*/

body {
  margin: 0;
  font-family: var(--body-font);
  background-color: var(--main-background-color);
}

header {
  background-color: #5C396F;
  color: var(--main-background-color);
}

header.w3-container {
 padding-left: 39px;
 padding-right: 29px;
}

.w3-button:hover {
  color: #95849E !important;
  background-color: #5C396F !important;
  text-decoration: none;
}

.logo {
  color: var(--main-background-color);
  font-weight: 900;
  font-size: 2em;
  font-family: 'Homemade Apple', cursive;
}

.w3-right {
  font-size: 1.3em;
  font-family: var(--header-font);
}

a.active {
  font-family: var(--header-font);
  color: #66c3cb;
  border-bottom-style: solid;
  border-bottom-color: #66c3cb;
  width: 68px;
  padding: 0 4px 0 5px;
  margin: 8px 16px 0 13px;
}

/* ----- HEADER END ----- */
/* .line {
  position: static;
  display: inline-block;
  width: 120px;
  height: 3px;
  transform-origin: 0 50%;
  background-color: var(--main-text-color);
  margin: 60px 0 10px 60px;
}

.title {
  display: inline-block;
  align-items: center;
  padding-left: 30px;
  margin-top: 65px;
} */
.brick-wall {
  width: 50%;
}

h1 {
  letter-spacing: .7px;
  line-height: normal;
  margin-bottom: 25px;
  font-style: oblique;
  color: #75487C;
}

.me p {
  font-size: 26px;
  line-height: 37px;
}

div.me.panel {
  margin: 300px 135px 250px 450px;
  /* margin: 300px 0 250px 0; */
  height: 270px;
}

img.me-picture {
  /* padding: 20px 700px 10px 120px; */
  width: 50%;
  /* height: 100%; */
}

div.me p {
  letter-spacing: .7px;
  line-height: normal;
  padding-right: 50px;
}

h3 {
  font-style: italic;
}

.design-dev {
  padding: 100px 0 0 50px;
}

.design, .development {
  margin-top: 80px;
  font-size: 17px;
}

ul {
  color: #75487C;
}

img.skill-picture {
  width: 100%;
  height: 100%;
  margin-left: 20px;
}

.main-about {
  margin-left: 464px;
  margin-top: 250px;
  margin-bottom: 50px;
}

.fun-fact {
  background-color: var(--main-background-color);
}

/* .wireframe-picture {
  margin-left: -155px;
} */
.scotch {
  margin: 60px 0 50px 0;
}

.scotch>div:nth-child(2) {
  margin-top: 200px;
  margin-left: 3%;
  font-size: 17px;
}

.scotch-text>p:nth-child(1) {
  margin-bottom: 100px;
}

.color {
  color: #BB4628;
}

/* ------ END MAIN CSS ------- */
/* ----- MEDIA QUERIES ----- */
@media (max-width: 320px) {

  /* body {
    background-color: lavender;
  } */

  .logo {
    font-size: 1.6em;
  }

  .main-about {
    margin-bottom: 0px;
  }

  .design-dev {
    padding-top: 0px;
  }

  .main-about {
    margin-left: 44px;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .me h1 {
    /* font-size: 21px; */
    font-size: 17px;
  }

  .me p {
    /* font-size: 26px; */
    font-size: 16px;
  }

  .me>h1:nth-child(1) {
    margin-right: 0px;
  }

  .main-about>div:nth-child(1) {
    padding-left: 0px;
  }

  .me>p:nth-child(2) {
    padding-right: 20px;
  }

  .m6 {
    margin-top: 50px;
    width: 304px;
    margin-left: -66px;
  }

  img.skill-picture {
    margin-left: 8px;
  }

  .scotch>div:nth-child(2) {
    margin-top: 71px;
    font-size: 16px;
  }
}

@media (min-width: 321px) and (max-width: 375px) {

  /* body {
    background-color: brown;
  } */

  header {
    height: 207px;
  }

  .logo {
    font-size: 1.6em;
  }


  .main-about {
    margin-bottom: 0px;
  }

  .design-dev {
    padding-top: 0px;
  }

  .main-about {
    margin-left: 44px;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .me h1 {
    font-size: 17px;
  }

  .me p {
    font-size: 16px;
  }

  .me>h1:nth-child(1) {
    margin-right: 0px;
  }

  .main-about>div:nth-child(1) {
    padding-left: 0px;
  }

  .me>p:nth-child(2) {
    padding-right: 20px;
  }

  .m6 {
    margin-top: 50px;
    width: 375px;
    margin-left: -66px;
  }

  .w3-center {
    width: 308px;
    margin-left: 34px;
  }

  .scotch > div:nth-child(2) {
    margin-top: 53px;
  }

  .scotch-text {
    margin-left: 9px;
    margin-right: 29px;
  }

  footer {
    margin: 5% 0 1.5% 9%;
  }
}

@media (min-width: 376px) and (max-width: 414px) {

  /* body {
    background-color: pink;
  } */

  div.text {
    margin: 0;
    margin-right: 8%;
  }

  .design-container {
    padding-left: 6%;
  }

  .me>h1:nth-child(1) {
    margin-left: 0px;
    font-size: 24px;
  }

  .me p {
    font-size: 17px;
    line-height: 37px;
  }

  .m6 {
    margin-top: 70px;
  }

  .main-about {
    margin-left: 46px;
    margin-top: 30px;
  }

  .design-dev {
    padding: 0px 0 0 50px;
  }

  .wireframe-picture {
    height: 240px;
  }

  .scotch>div:nth-child(2) {
    margin-top: 100px;
  }

  .scotch-text>p:nth-child(1) {
    margin-left: 29px;
    margin-right: 57px;
  } */

  footer {
    margin: 5% 0 1.5% 11%;
  }
}

@media (min-width: 415px) and (max-width: 740px) {

  /* body {
    background-color: orange;
  } */

  .logo {
    font-size: 2em;
  }

  div.text {
    margin: 0;
    margin-right: 7%;
  }

  .design-container {
    padding-left: 6%;
  }

  .me>h1:nth-child(1) {
    margin-left: 0px;
    font-size: 24px;
  }

  .me p {
    font-size: 17px;
    line-height: 37px;
  }

  .m6 {
    margin-top: 70px;
  }

  .main-about {
    margin-left: 46px;
    margin-top: 30px;
  }

  .design-dev {
    padding: 0px 0 0 30px;
  }

  .scotch>div:nth-child(2) {
    margin-top: 100px;
  }

  .scotch-text>p:nth-child(1) {
    margin-right: -119px;
    margin-top: -90px;
  }

  #contact>footer:nth-child(2) {
    margin-left: 0%;
    margin-right: 15px;
  }

  p.contact {
    font-size: 52px;
  }

  footer a:link {
    font-size: 20px;
  }
}

@media (min-width: 523px) and (max-width: 620px) {
  .w3-right {
    padding-top: 9px;
  }

  a.w3-right:nth-child(3) {
   margin-top: 11px;
  }

  a.w3-right:nth-child(2) {
   margin-top: 61px;
  }
}



@media (min-width: 415px) and (max-width: 600px) {
  .scotch-text>p:nth-child(1) {
    width: 90%;
    margin-left: 20px;
  }
}

@media (min-width: 739px) and (max-width: 601px) {
  .scotch-text>p:nth-child(1) {
    width: 172%;
  }
}

@media (min-width: 621px) and (max-width: 698px) {
  .w3-right {
    padding-top: 9px;
  }

  a.w3-right:nth-child(3) {
   margin-top: 71px;
  }

  a.w3-right:nth-child(2) {
   margin-top: 61px;
  }
}

@media (min-width: 740px) and (max-width: 900px) {

  /* body {
    background-color: blue;
  } */

  .design-dev {
   padding-left: 10px;
  }

  .main-about {
    margin-left: 48px;
    margin-top: 97px;
    margin-bottom: 50px;
  }

  .scotch>div:nth-child(2) {
    margin-top: 113px;
  }

  .scotch-text>p:nth-child(1) {
    margin-bottom: 55px;
    margin-left: 13px;
    margin-right: 0px;
    width: 317px;
    margin-top: -46px;
  } */

  #contact>footer:nth-child(2) {
    margin-right: 29px;
    margin-left: 1%;
  }
}

@media (min-width: 767px) and (max-width: 768px) {

}

@media (min-width: 900px) and (max-width: 1024px) {

  /* body {
    background-color: purple;
  } */


  body>main:nth-child(2) {
    margin-left: 4%;
  }

  div.text {
    margin: 0;
    margin-right: 17%;
  }

  .main-about {
    margin-left: 48px;
    margin-top: 97px;
    margin-bottom: 50px;
  }

  .scotch {
    margin-left: 65px;
  }

  .scotch>div:nth-child(2) {
    margin-top: 209px;
    margin-left: 3%;
    font-size: 17px;
  }

  .scotch-text>p:nth-child(1) {
    margin: -113px 0 55px 13px;
    width: 317px;
  }
}

@media (min-width: 1025px) and (max-width: 1112px) {

  /* body {
      background-color: turquoise;
    } */


  div.text {
    margin: 0;
    margin-right: 17%;
  }

  .main-about {
    margin-left: 48px;
    margin-top: 97px;
    margin-bottom: 50px;
  }

  .scotch {
    margin-left: 65px;
  }

  .scotch-text>p:nth-child(1) {
    margin: -86px 0 55px 13px;
    width: 317px;
  }

}
