/* CSS Reset */
* {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
p,
pre,
blockquote,
figure,
hr {
  margin: 0;
  padding: 0;
}

ul, ol {
  list-style: none;
}

/* Browsers don’t inherit typography for forms and buttons. They set font to 400 11px system-ui. I find this mind-boggling and weird. I always have to make them inherit from ancestor elements manually. */
input,
textarea,
select,
button {
  color: inherit;
  font: inherit;
  letter-spacing: inherit;
}

/* Different browsers have style the borders for forms elements and buttons differently. I dislike these default styles, and would prefer to set them to 1px solid gray. */
input,
textarea,
button {
  border: 2px solid #121643;
}

/* I made a few more adjustments to buttons:
Set button padding to 0.75em and 1em because they seem like sensible defaults from my experience.
Removed the default border-radius that’s applied to buttons.
Forced background color to be transparent */
button {
  border-radius: 0;
  padding: 0.75em 1em;
  background-color: transparent;
}

/* I also set these elements to display: block because inline-block creates an unwanted whitespace at the bottom of the element. */
embed,
iframe,
img,
object,
video {
  display: grid;
  max-width: 100%;
}

/* The hidden attribute
When an element has a hidden attribute, they should be hidden from view. Normalize.css does this for us already. */
[hidden] {
  display: none;
}

/* CSS Reset End--------------------------------*/
/* ----------START OF SITE SPECIFIC CSS-------- */
:root {
--main-text-color: #121643;
--main-background-color: #efeff2;
--header-font: 'Rubik', sans-serif;
--body-font: 'Karla', sans-serif;
--main-margin: 100px 35px 0 55px;
--main-padding: 20px;
}

/*
#54B2BA
#69abd7
#5c5374
#607bae
#75487C
#121643
#40222B
#efeff2
#95849E
#5C396F
*/

body {
  margin: 0;
  font-family: var(--body-font);
  background-color: var(--main-background-color);
}

header {
  background-color: #5C396F;
  color: var(--main-background-color);
}

header div.w3-bar-item {
  padding-left: 0;
  padding-right: 0;
}

.w3-button:hover {
  color: #95849E !important;
  background-color: #5C396F !important;
  text-decoration: none;
}

.logo {
  color: var(--main-background-color);
  font-weight: 900;
  font-size: 2em;
  font-family: 'Homemade Apple', cursive;
  padding-left: 9px;
}

a.contact:nth-child(2) {
 padding-right: 0px;
}


.w3-right {
  font-size: 1.3em;
  font-family: var(--header-font);
}

a.about {
  font-family: var(--header-font);
  color: #66c3cb;
}

/* ----- HEADER END ----- */

h1, h2 {
  letter-spacing: .7px;
  line-height: normal;
  margin-bottom: 25px;
  font-style: oblique;
  color: #75487C;
}

.me p {
  font-size: 26px;
  /* line-height: 37px; */
  margin-left: auto;
  margin-right: auto;
  /* width: 850px; */
}

.me h1 {
 margin-left: auto;
 margin-right: auto;
 /* width: 850px; */
}

h3 {
  font-style: italic;
}

.me {
  margin-bottom: 10%;
}

.design, .development {
  margin-top: 80px;
  font-size: 17px;
}

ul {
  color: #75487C;
}

.scotch, .design-dev {
  margin-top: 10%;
}

.scotch-text {
  padding-top: 10%;
  font-size: 17px;
}

.color {
  color: #BB4628;
}



/* ------ END MAIN CSS ------- */
/* ----- MEDIA QUERIES ----- */
@media (max-width: 320px) {

  /* body {
    background-color: lavender;
  } */

  .logo {
    font-size: 1.3em;
  }
}

@media (min-width: 321px) and (max-width: 375px) {

  /* body {
    background-color: brown;
  } */

  .logo {
    font-size: 1.3em;
  }
  .me p {
  font-size: 17px;
}
}

@media (min-width: 376px) and (max-width: 414px) {

  /* body {
    background-color: pink;
  } */
  .logo {
    font-size: 1.3em;
  }
  .me p {
  font-size: 17px;
  /* line-height: 37px; */
}

  .design, .development {
    margin-top: 0;
    font-size: 17px;
  }

  .design, .development, .skill-picture {
    margin-top: 10%;
  }
}


@media (min-width: 415px) and (max-width: 900px) {

  /* body {
    background-color: orange;
  } */

  .me p {
  font-size: 17px;
}
}

@media (min-width: 601px) and (max-width: 1000px) {

  /* body {
    background-color: blue;
  } */

  img.skill-picture {
    padding-top: 98px;
  }

}


@media (max-width: 331px) {

  /* body {
  background-color: purple;
} */

  div.w3-bar.w3-padding-24 {
      padding: 0 2% 0 2%;
  }

  .logo {
    font-size: 1.4em;
  }
}

@media (min-width: 601px) and (max-width: 1344px) {

  .w3-bar {
 padding-right: 10px;
}

}
