/* CSS Reset */
* {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
p,
pre,
blockquote,
figure,
hr {
  margin: 0;
  padding: 0;
}

ul, ol {
  list-style: none;
}

/* Browsers don’t inherit typography for forms and buttons. They set font to 400 11px system-ui. I find this mind-boggling and weird. I always have to make them inherit from ancestor elements manually. */
input,
textarea,
select,
button {
  color: inherit;
  font: inherit;
  letter-spacing: inherit;
}

/* Different browsers have style the borders for forms elements and buttons differently. I dislike these default styles, and would prefer to set them to 1px solid gray. */
input,
textarea,
button {
  border: 2px solid #121643;
}

/* I made a few more adjustments to buttons:
Set button padding to 0.75em and 1em because they seem like sensible defaults from my experience.
Removed the default border-radius that’s applied to buttons.
Forced background color to be transparent */
button {
  border-radius: 0;
  padding: 0.75em 1em;
  background-color: transparent;
}

/* I also set these elements to display: block because inline-block creates an unwanted whitespace at the bottom of the element. */
embed,
iframe,
img,
object,
video {
  display: grid;
  max-width: 100%;
}

/* The hidden attribute
When an element has a hidden attribute, they should be hidden from view. Normalize.css does this for us already. */
[hidden] {
  display: none;
}

/* CSS Reset End--------------------------------*/
/* ----------START OF SITE SPECIFIC CSS-------- */
:root {
--main-text-color: #121643;
--main-background-color: #efeff2;
--header-font: 'Rubik', sans-serif;
--body-font: 'Karla', sans-serif;
--main-margin: 100px 35px 0 55px;
--main-padding: 20px;
}

/*
#54B2BA
#69abd7
#5c5374
#607bae
#75487C
#121643
#40222B
#efeff2
#95849E
#5C396F
*/

body {
  margin: 0;
  font-family: var(--body-font);
  background-color: var(--main-background-color);
}

header {
  overflow: hidden;
  background-color: #5C396F;
  padding: 20px 40px 20px 31px;
}

.w3-wide {
  letter-spacing: 0px;
}

.w3-button:hover {
  color: #95849E !important;
  background-color: #5C396F !important;
  text-decoration: none;
}

.logo {
  color: var(--main-background-color);
  line-height: 50px;
  font-weight: 900;
  font-size: 2em;
  font-family: 'Homemade Apple', cursive;
}

.walker {
  margin-left: 3em;
}

.w3-right {
  margin-top: 45px;
  font-size: 1em;
  font-weight: bold;
}

.header-right a {
  color: var(--main-background-color);
  text-align: center;
  margin-right: .75em;
  text-decoration: none;
  font-size: 1.3em;
  line-height: 3px;
}

.w3-right a.active {
  text-decoration: none;
  color: #54B2BA;
  border-bottom-style: solid;
  border-bottom-color: #54B2BA;
  margin-bottom: 0px;
  padding-bottom: 0.75em;
}

a.w3-bar-item:nth-child(1) {
  padding-left: 3px;
  padding-right: 3px;
}

a.w3-bar-item:nth-child(2) {
  padding-left: 3px;
  padding-right: 3px;
}

a.w3-bar-item:nth-child(3) {
  padding-left: 3px;
  padding-right: 3px;
}

/* ----- HEADER END ----- */
/* .line {
  position: static;
  display: inline-block;
  width: 120px;
  height: 3px;
  transform-origin: 0 50%;
  background-color: var(--main-text-color);
  margin: 60px 0 10px 60px;
}

.title {
  display: inline-block;
  align-items: center;
  padding-left: 30px;
  margin-top: 65px;
} */
.brick-wall {
  width: 50%;
}

h1 {
  letter-spacing: .7px;
  line-height: normal;
  margin-bottom: 25px;
  font-style: oblique;
  color: #75487C;
}

.me p {
  font-size: 26px;
  line-height: 37px;
}

div.me.panel {
  margin: 300px 135px 250px 450px;
  /* margin: 300px 0 250px 0; */
  height: 270px;
}

img.me-picture {
  /* padding: 20px 700px 10px 120px; */
  width: 50%;
  /* height: 100%; */
}

div.me p {
  letter-spacing: .7px;
  line-height: normal;
  padding-right: 50px;
}

h3 {
  font-style: italic;
}

.design-dev {
  padding: 100px 0 0 50px;
}

.design, .development {
  margin-top: 30px;
  font-size: 17px;
}

ul {
  color: #75487C;
}

img.skill-picture {
  /* padding: 20px 700px 10px 120px; */
  width: 100%;
  height: 100%;
}

.main-about {
  margin-left: 464px;
  margin-top: 300px;
  margin-bottom: 50px;
}

.fun-fact {
  background-color: var(--main-background-color);
}

/* .wireframe-picture {
  margin-left: -155px;
} */

.scotch {
  margin: 60px 0 50px 0;
}

.scotch>div:nth-child(2) {
  margin-top: 160px;
  font-size: 17px;
}

.scotch-text>p:nth-child(1) {
  margin-bottom: 100px;
}

.color {
  color: #BB4628;
}
