/* ----------------- FOOTER ---------------- */
hr {
  border: 0;
  clear: both;
  display: block;
  width: 100%;
  background-color: #5C396F;
  height: 1.5px;
  margin-bottom: 5%;
}

footer {
  color: #5C396F;
  margin: 5% 0 1.5% 5%;
}

footer a {
  font-size: 25px;
}



footer.w3-cell-row {
  margin-bottom: 50px;
}

footer a:link {
  text-decoration: none;
}

footer a:hover {
  color: #9181A7;
  text-decoration: underline #9181A7 5px;
}

.contact {
  letter-spacing: 2px;
  font-size: 62px;
  margin-bottom: 10px;
  font-style: normal;
}

.CTA {
 margin-right: 97px;
}

#contact > footer:nth-child(2) > div:nth-child(1) > div:nth-child(2) {
  margin-top: 20px;
}

#contact > footer:nth-child(2) > div:nth-child(1) > div:nth-child(3) {
  margin-top: 20px;
}

span.heart {
  padding-left: 0px;
}

.heart {
  color: #54B2BA;
  font-size: 11px;
}

.copyright {
  font-size: 11px;
  margin-top: 30px;
}
