/* CSS Reset */
* {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
p,
pre,
blockquote,
figure,
hr {
  margin: 0;
  padding: 0;
}

ul, ol {
  list-style: none;
}

/* Browsers don’t inherit typography for forms and buttons. They set font to 400 11px system-ui. I find this mind-boggling and weird. I always have to make them inherit from ancestor elements manually. */
input,
textarea,
select,
button {
  color: inherit;
  font: inherit;
  letter-spacing: inherit;
}

/* Different browsers have style the borders for forms elements and buttons differently. I dislike these default styles, and would prefer to set them to 1px solid gray. */
input,
textarea,
button {
  border: 2px solid #121643;
}

/* I made a few more adjustments to buttons:
Set button padding to 0.75em and 1em because they seem like sensible defaults from my experience.
Removed the default border-radius that’s applied to buttons.
Forced background color to be transparent */
button {
  border-radius: 0;
  padding: 0.75em 1em;
  background-color: transparent;
}

/* I also set these elements to display: block because inline-block creates an unwanted whitespace at the bottom of the element. */
embed,
iframe,
img,
object,
video {
  display: grid;
  max-width: 100%;
}

/* The hidden attribute
When an element has a hidden attribute, they should be hidden from view. Normalize.css does this for us already. */
[hidden] {
  display: none;
}

/* CSS Reset End-----------------------------
---*//* ----------------- HEADER ---------------- */

footer div.w3-bar.w3-padding-24 {
    padding: 0 3% 0 3%;
}



/* ----------------- FOOTER ---------------- */
hr {
  border: 0;
  clear: both;
  display: block;
  width: 100%;
  background-color: #5C396F;
  height: 1.5px;
  margin-bottom: 5%;
}

footer {
  color: #5C396F;
  font-size: 17px;
  margin-bottom: 4%;
}

footer.w3-cell-row {
  margin-bottom: 50px;
}
footer.w3-container {
  padding: 0px;
}

footer a:link {
  text-decoration: none;
}

footer a:hover {
  color: #9181A7;
  text-decoration: underline #9181A7 3px;
}

/* span.heart {
  padding-left: 0px;
} */

.heart {
  color: #54B2BA;
}
