/* CSS Reset */
* {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
p,
pre,
blockquote,
figure,
hr {
  margin: 0;
  padding: 0;
}

ul, ol {
  list-style: none;
}

/* Browsers don’t inherit typography for forms and buttons. They set font to 400 11px system-ui. I find this mind-boggling and weird. I always have to make them inherit from ancestor elements manually. */
/* input,
textarea,
select,
button {
  color: inherit;
  font: inherit;
  letter-spacing: inherit;
} */

/* Different browsers have style the borders for forms elements and buttons differently. I dislike these default styles, and would prefer to set them to 1px solid gray. */
/* input,
textarea,
button {
  border: 2px solid #121643;
} */

/* I made a few more adjustments to buttons:
Set button padding to 0.75em and 1em because they seem like sensible defaults from my experience.
Removed the default border-radius that’s applied to buttons.
Forced background color to be transparent */
/* button {
  border-radius: 0;
  padding: 0.75em 1em;
  background-color: transparent;
} */

/* I also set these elements to display: block because inline-block creates an unwanted whitespace at the bottom of the element. */
embed,
iframe,
img,
object,
video {
  display: grid;
  max-width: 100%;
}

/* The hidden attribute
When an element has a hidden attribute, they should be hidden from view. Normalize.css does this for us already. */
[hidden] {
  display: none;
}

/* CSS Reset End--------------------------------*/
/* ----------START OF SITE SPECIFIC CSS-------- */
:root {
--main-text-color: #121643;
--main-background-color: #efeff2;
--header-font: 'Rubik', sans-serif;
--body-font: 'Karla', sans-serif;
--main-margin: 100px 35px 0 55px;
--main-padding: 20px;
}
/* ----------------- HEADER ---------------- */

.header {
  overflow: hidden;
  background-color: #5C396F;
  padding: 20px 40px 20px 31px;
}

.header a {
  float: left;
  color: var(--main-background-color);
  text-align: center;
  /* padding: .75em; */
  margin-right: .75em;
  text-decoration: none;
  font-size: 1.1em;
  line-height: 3px;

}

.header {
  font-size: 1em;
  font-weight: bold;
}

.header a:hover {
  /* text-decoration: underline #121643; */
  color: #121643;
  border-bottom-style: solid;
  border-bottom-color: #121643;
  /* margin-left: 16px; */
  margin-bottom: 0px;
  padding-bottom: 0.75em;
}

.header a.active {
  /* background-color: #54B2BA; */
  text-decoration: none;
  color: #54B2BA;
  border-bottom-style: solid;
  border-bottom-color: #54B2BA;
  /* margin-left: 16px; */
  margin-bottom: 0px;
  padding-bottom: 0.75em;
}

.header-right {
  float: right;
  padding-top: 3%;
}

.logo {
  color: var(--main-background-color);
  font-weight: 900;
  font-size: 1.7em;
  font-family: 'Homemade Apple', cursive;
}

.logo span {
  margin-left: 2.8em;
}

/* ----------------- FOOTER ---------------- */
footer {
  /* background-color: #2E589E; */
  margin-top: 70px;
  padding: 80px 0 0 0;
  background-color: #5C396F;
}

.social-media-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin-top: 20px;
  margin-left: 20px;
  align-items: flex-end;
  grid-gap: 10px;
  float: right;
  padding: 20px 100px 0 0;
}

.text-sm {
  float: right;
  padding: 0 100px 20px 0;
  color: var(--main-background-color);
  letter-spacing: 2px;
}

.sm {
  float: right;
  font-size: 25px;
  padding: 24px 0 20px 0;
  margin-top: 23px;
  margin-right: -123px;
}


.sm a {
  color: var(--main-background-color);
  text-decoration: underline #69abd7;
  text-decoration: 5px;
  text-decoration: underline #69abd7 5px;
}

.github, .twitter a {
  padding-left: 21px;
}


.fa {
  text-decoration: none;
  background: #607bae;
  font-size: 25px;
  text-align: center;
  width: 30px;
  padding: 17px;
  border-radius: 50%;
  color: #121643;
}

.fa:hover {
  color: #9181A7 !important;
}

.follow {
  padding-top: 30px;
  font-size: 25px;
}

.heart {
  color: #54B2BA;
  font-size: 34px;
}

.love {
  margin: 100px 0 50px 0;
  font-size: 15px;
  text-align: center;
  color: var(--main-background-color);
}

span.heart {
  padding-left: 0;
}

.footer-contact {
  font-size: 15px;
  padding: 0 0 20px 100px;
  color: var(--main-background-color);
  letter-spacing: 2px;
}

.email a, .phone a, .footer-CTA {
  font-size: 25px;
  padding: 0px 0 30px 100px;
  color: var(--main-background-color);
  text-decoration: underline #69abd7;
  text-decoration: 5px;
  text-decoration: underline #69abd7 5px;
}

.footer-CTA {
  text-decoration: none;
  padding-right: 779px;
}

.phone {
  padding-top: 40px;
}

.footer-text-sm {
  font-size: 25px;
  padding: 0 0 20px 0;
  color: var(--main-background-color);
}

.footer-bottom {
  font-size: 11px;
  padding: 60px 0 20px 100px;
  letter-spacing: .6px;
  color: var(--main-background-color);
}
