/* CSS Reset */
* {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
p,
pre,
blockquote,
figure,
hr {
  margin: 0;
  padding: 0;
}

ul, ol {
  list-style: none;
}

/* Browsers don’t inherit typography for forms and buttons. They set font to 400 11px system-ui. I find this mind-boggling and weird. I always have to make them inherit from ancestor elements manually. */
input,
textarea,
select,
button {
  color: inherit;
  font: inherit;
  letter-spacing: inherit;
}

/* Different browsers have style the borders for forms elements and buttons differently. I dislike these default styles, and would prefer to set them to 1px solid gray. */
input,
textarea,
button {
  border: 2px solid #121643;
}

/* I made a few more adjustments to buttons:
Set button padding to 0.75em and 1em because they seem like sensible defaults from my experience.
Removed the default border-radius that’s applied to buttons.
Forced background color to be transparent */
button {
  border-radius: 0;
  padding: 0.75em 1em;
  background-color: transparent;
}

/* I also set these elements to display: block because inline-block creates an unwanted whitespace at the bottom of the element. */
embed,
iframe,
img,
object,
video {
  display: grid;
  max-width: 100%;
}

/* The hidden attribute
When an element has a hidden attribute, they should be hidden from view. Normalize.css does this for us already. */
[hidden] {
  display: none;
}

/* CSS Reset End--------------------------------*/
/* ----------START OF SITE SPECIFIC CSS-------- */
:root {
--main-text-color: #121643;
--main-background-color: #efeff2;
--header-font: 'Rubik', sans-serif;
--body-font: 'Karla', sans-serif;
--main-margin: 100px 35px 0 55px;
--main-padding: 20px;
}
/*
#69abd7
#5c5374
#9181A7
#607bae
#75487C
#121643
#40222B
#efeff2
*/
body {
  background-color: var(--main-background-color);
  font-family: var(--body-font);
}

h2,
h3,
h4,
h5,
h6, {
  font-family: var(--body-font);
  color: var(--main-text-color);
}

h4 {
  font-weight: 600;
}

.w3-container,
.w3-panel {
  padding: 0;
}

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("Images/2-cameras-sign-that-says-creator-notepad-pens-glasses.jpg");
  width: 100%;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-image:
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--main-background-color);
}

h1 {
  font-weight: 900;
  font-family: 'Homemade Apple', cursive;
  font-size: 4em;
}

h2 {
  font-weight: 900;
  font-size: 3em;
  margin-top: 14px;
}

p {
  line-height: 2;
  margin-top: 10px;
  /* font-size: 1.5em; */
}

.here {
  font-style: oblique;
}

.hero-text p {
  font-size: 20px;
}

.hero-text button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 15px;
  color: #5C396F;
  background-color: var(--main-background-color);
  text-align: center;
  cursor: pointer;
  margin-top: 30px;
  text-decoration: none;
}

a.nav-link {
  color: #5C396F;
  text-decoration: none;
}

.hero-text > button:nth-child(3) {
 margin-top: 50px;
 text-decoration: none;
}

.hero-text button:hover {
  background-color: #9181A7;
  color: #5C396F;
  text-decoration: none;
}

/* ----------------------------------------------- */
/* ----- WORK PROJECT CONTAINER -----*/
.work-container, .work-title-container {
  /* max-width: 1920px; */
  row-gap: 15px;
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
  grid-auto-rows: minmax(150px, auto);
  /* padding: 40px 5px 20px 5px; */
  align-items: center;
  justify: center;
  width: 100%
}

/* -----WORK TITLE CONTAINER -----*/
.work-title-container {
  display: inline-block;
  padding-top: 0px;
  margin: 100px 0 40px 43px;
}

.work-line {
  position: static;
  display: inline-block;
  width: 120px;
  height: 3px;
  transform-origin: 0 50%;
  background-color: var(--main-text-color);
  margin: 0 0 8px 0;
}

.work-title {
  display: inline-block;
  align-items: center;
  padding-left: 30px;
  color: var(--main-text-color);
  font-family: var(--body-font);
  font-size: 40px;
}

/* -----WORK TITLE CONTAINER -----*/
.container {
  /* needed for the flex layout*/
  margin-left: 20px;
  margin-right: 20px;
  flex: 1 1 200px;
}

.work-container>* {
  /* background-color: #75487C; */
  color: black;
  border-radius: 0;
  padding: 20px;
  font-size: 150%;
  margin-bottom: 10px;
}

/* div.work-container:nth-child(1) {
  grid-column: 1;
  grid-row: 1;
} */
/* .hover-zoom {
  -webkit-transition: transform .2s;
  -o-transition: transform .2s;
  transition: transform .2s;
  width: 278px;
  height: 200px;
  margin: 0 auto;
}

.hover-zoom:hover {
  transform: scale(1.3);
} */

/* ----- WORK BUTTON ----- */
.work-button {
  font-family: var(--body-font);
  padding: 0.75em;
  background-color: transparent;
  border-style: solid;
  border-color: #5C396F;
  color: #5C396F;
  border-width: 2px;
  margin: 70px auto;
  display: block;
  cursor: pointer;
  box-shadow: 5px 5px 6px grey;
  text-decoration: none;
}

body > main:nth-child(1) > a:nth-child(3) {
 text-decoration: none;
}


.work-button a:hover {
  color: #5C396F;
  text-decoration: none;
}

.work-button:hover {
  background-color: #9181A7;
  color: #5C396F;
  text-decoration: none;
}

/* ------ END MAIN CSS ----- */
/* ----- MEDIA QUERY ------ */
@media (max-width: 320px) {

  /* body {
     background-color: lavender;
   } */

   .work-line {
     display: none;
   }

   h1 {
     font-weight: 900;
     font-family: 'Homemade Apple', cursive;
     font-size: 2em;
     line-height: 2em;
   }

   h2 {
     font-weight: 900;
     font-size: 1.5em;
     margin-top: 7px;
   }

   /* .work-title {
     padding-left: 73px;
} */

}

@media (min-width: 321px) and (max-width: 590px) {

  /* body {
    background-color: brown;
  } */

  .hero-text {
    margin-top: 30px;
    width: 325px;
  }

  h1 {
    font-weight: 900;
    font-family: 'Homemade Apple', cursive;
    font-size: 2em;
  }

  h2 {
    font-weight: 900;
    font-size: 1.5em;
    margin-top: 7px;
  }

  .work-line {
    display: none;
  }

  .work-title {
    /* padding-left: 41px; */
    padding-left: 2.5%;
  }
}

@media (max-width: 900px) {
  .hero-text p {
    font-size: 16px;
  }
}

@media (min-width: 591px) and (max-width: 900px) {

  /* body {
    background-color: pink;
  } */

  .work-line {
    display: none
  }

  .work-title {
    /* padding-left: 13%; */
    padding-left: 2.5%;
  }

  .hero-text>h1:nth-child(1) {
    padding-top: 16px;
  }

  h1 {
    font-weight: 900;
    font-family: 'Homemade Apple', cursive;
    font-size: 3em;
    width: 700px;
  }

  h2 {
    font-weight: 900;
    font-size: 1.5em;
    margin-top: 7px;
  }
}

/* @media (min-width: 415px) and (max-width: 740px) {


} */

@media (min-width: 741px) and (max-width: 900px) {

  /* body {
    background-color: blue;
  } */
}

@media (min-width: 741px) and (max-width: 1900px) {

  h1 {
    width: 800px;
  }
}

@media (min-width: 1024px) and (max-width: 1112px) {

  /* body {
      background-color: turquoise;
    } */
    .work-line {
      margin: 0 0 8px 23px;
}
}

@media (min-width: 1851px) {

  /* body {
    background-color: green;
  } */

  .work-container, .work-title-container {
    padding-left: 13%;
  }

  .work-title-container {
    margin-left: 50px;
  }
}
