/* Headers:
font-family: 'Playfair Display',
serif;
font-family: 'News Cycle',
sans-serif;
font-family: 'Rubik',
sans-serif; */

/* Body:
font-family: 'Lato',
sans-serif;
font-family: 'Merriweather',
serif;
font-family: 'Merriweather Sans',
sans-serif;
font-family: 'Source Sans Pro',
sans-serif;
font-family: 'Libre Baskerville',
serif; */

/* Multipurpose:
font-family: 'Roboto',
sans-serif;
font-family: 'Titillium Web',
sans-serif;
font-family: 'Libre Franklin',
sans-serif;
font-family: 'Work Sans',
sans-serif; */


.w3-container.top {
    padding-left: 5px;
    margin: 30px 30px 0px 30px;
}

footer {
     margin: 30px;
     padding-bottom: 30px;
}

#work {
    margin: 30px;
}

.logo {
    float: right;
    border-radius: 50%;
}

.name {
    color: rgba(85, 14, 117, 0.863);
    font-family: 'Merriweather',
    serif;
    font-size: 60px;
    /* text-align: center; */
    padding: 55px;
}

.w3-container { 
    margin-top: 15px;
}

.first-cont {
    padding-top: 45px;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    list-style-type: none;
}

.second-row {
    margin-top: 45px;
    /* padding-right: 500px; */
}

footer,
div.w3-container.top {
    background-color: #9B8FA2;
}