/* Smartphones (landscape) ---------- */
@media (max-width: 320px) {

  /* body {
     background-color: lavender;
   } */
  .main-container {
    display: block;
  }

  .main-projects, .main-about, .more {
    display: block;
    /* grid-template-columns: repeat(4, 1fr); */
    /* grid-template-rows: 1fr 1fr;
    /* grid-gap: 25px; */
    /* align-content: space-between;
    justify-content: space-around; */
    /* grid-auto-rows: minmax(75px, auto); */
  }

  .skills {
    display: block;
  }

  .top-left, .bottom-left, .top-right, .bottom-right {
    display: block;
  }

  .top-right-bottom>h1 {
    text-align: center;
    font-size: 1.5em;
    margin-top: 150px;
  }

  .about-nav, .project-nav, .more-nav {
    /* margin-top: 520px; */
  }

  .bottom-navbar {
    grid-template-columns: 1fr;
    grid-auto-rows: 45px;
    grid-gap: 10px;
    margin: 110px 0 0 0;
  }

  .color {
    width: 180px;
    height: 24px;
    margin: 13px 0 13px -46px;
  }

  .service {
    padding-left: 0;
  }

  .main-projects {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
  }

  .container:hover:focus:active .overlay {
    opacity: 1;
  }

  .more-grid {
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); */
    grid-template-columns: 1fr 1fr;
    margin-top: 35px;
    font-size: 15px;
    grid-gap: 20px;
    align-items: center;
  }
}

@media (min-width: 321px) and (max-width: 375px) {
  body {
    background-color: beige;
  }

  .main-container {
    display: block;
    height: 506.25px;
  }

  /* .main-projects, .main-about, .more {
    display: block;
  } */
  .top-left, .bottom-left, .top-right, .bottom-right {
    display: block;
  }

  .top-right-bottom > h1 {
    text-align: center;
    font-size: 1.5em;
    margin-top: 150px;
  }

  .top-right {
    padding-left: 56px;
    margin-top: 9px;
  }

  .bottom-right {
    margin-top: -105px;
  }

  .bottom-navbar {
    grid-template-columns: 1fr;
    grid-auto-rows: 45px;
    grid-gap: 10px;
    margin: 110px 20px 0 17px;
  }

  .color {
    width: 230px;
    height: 24px;
    margin: 13px 0 13px -46px;
  }

  .bottom-right {
    margin-left: 99px;
    margin-right: 20px;
  }

  .main-projects {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
  }

  .container:hover:focus:active .overlay {
    opacity: 1;
  }

  .more-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 35px;
    font-size: 15px;
    grid-gap: 20px;
    align-items: center;
  }

  .work-title-container {
    display: inline-block;
    padding-top: 0px;
    margin: -80px 0 25px 166px;
  }

  .work-line {
    position: static;
    display: inline-block;
    width: 77px;
    height: 3px;
    transform-origin: 0 50%;
    background-color: var(--main-text-color);
    margin: 0 0 8px 0;
  }

  .work-container {
    padding-top: 20px;
  }

  .work-title-container {
    margin-left: 45px;
    margin-top: 400px;
  }

  .footer-main-container {
    display: block;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }

  div.footer-container:nth-child(1) {
    margin-left: 0px;
  }

  div.footer-container:nth-child(2) {
    width: 319px;
    height: 188px;
    margin-bottom: 10px;
    margin-left: 0px;
  }

  .text-sm {
    padding-left: 19px;
  }

  .links-sm {
    padding-left: 19px;
    margin-left: -63px;
  }

  .github, .twitter {
    padding-left: 0px;
  }

  .copyright {
    margin-left: -23px;
    padding-left: 0px;
  }

}

@media (min-width: 376px) and (max-width: 414px) {
  body {
    background-color: pink;
  }

  .main-container {
    display: block;
  }

  .top-right {
   padding-left: 95px;
   padding-top: 28px;
}


  .top-right-bottom>h1 {
    text-align: center;
    font-size: 1.5em;
    margin-top: 150px;
  }

  .bottom-navbar {
    grid-template-columns: 1fr;
    grid-auto-rows: 45px;
    grid-gap: 10px;
    margin: 75px 36px 0 36px;
  }

  .color {
    width: 274px;
    height: 24px;
    margin: 13px 0 13px -46px;
  }

  .main-projects {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
  }

  .bottom-right {
 margin-left: 114px;
 margin-top: -101px;
}
.work-title-container {
margin-top: 195px;
margin-bottom: 0px;
}

div.footer-container:nth-child(1) {
 margin-left: 7px;
 margin-right: 93px;
}

div.footer-container:nth-child(2) {
 margin-left: 0px;
}

.text-sm {
 padding-left: 26px;
}

.links-sm {
 padding-left: 26px;
}

div.footer-container:nth-child(3) {
 margin-left: -28px;
}

.github, .twitter {
  padding-left: 0;
}


}

@media (min-width: 415px) and (max-width: 740px) {
  body {
    background-color: orange;
  }

  .main-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: repeat(auto-fit,
      minmax(150px, 1fr));
  }

  .bottom-right {
    /* commenting this out allows the navbar to sit directly under the title?? */
    /* display: grid;
    grid-column: 2; */
    grid-row: 2;
    margin: 0 110px 0 70px;
  }

  .top-right-bottom>h1 {
    text-align: center;
    font-size: 1.5em;
  }

  .top-right-bottom {
    margin-top: 0px;
  }

  .bottom-navbar {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 45px;
    grid-gap: 10px;
    margin: 55px 25px 0 -21px;
  }

  .main-about {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    grid-auto-rows: repeat(2, 1fr);
    grid-gap: 27px;
  }

  .color {
    width: 180px;
    height: 24px;
  }

  .main-projects {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 2rem;
    align-items: center;
    justify-items: center;
  }

  .work-title-container {
    display: inline-block;
    padding-top: 0px;
    margin: 170px 0 25px 166px;
  }

  div.footer-container:nth-child(2) {
    margin-left: 32px;
  }

  .links-sm {
    padding-left: 60px;
  }

  .twitter, .github {
    padding-left: 0px;
  }
}

@media (min-width: 741px) and (max-width: 900px) {

  /* body {
    background-color: blue;
  } */
  .top-right-bottom>h1 {
    text-align: center;
    font-size: 1.5em;
  }

  .top-right-bottom {
    margin-top: 80px;
  }

  .color {
    width: 241px;
    height: 24px;
  }

  .bottom-navbar {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 45px;
    grid-gap: 10px;
    margin: 70px 11px 0 0;
  }

  .main-projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 1rem;
    align-items: center;
    justify-items: center;
  }
}

@media (min-width: 900px) and (max-width: 1024px) {

  /* body {
     background-color: purple;
   } */
  .bottom-right {
    grid-row: 2;
    margin: 0 110px 0 7px;
  }

  .color {
    width: 390px;
    height: 24px;
    margin-left: 10px;
  }

  .bottom-navbar {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 45px;
    grid-gap: 10px;
    margin: 50px 16px 0 35px;
  }

  .work-title-container {
    display: inline-block;
    padding-top: 0px;
    margin: 120px 0 40px 82px;
  }

  div.footer-container:nth-child(2) {
 margin-left: 32px;
}

/* .links-sm {
  padding-left: 61px;
}

.twitter, .github {
  padding-left: 0px;
} */

}

/* @media (max-width: 812px) {
  .skill2, .service {
    padding-left: 10px;
  }
}

@media (max-width: 896px) and (min-width: 375px) {
  .skill2, .service {
    padding-left: 25px;
  }
} */
/* @media (max-width: 1480) and (min-width: 1280px) { */
@media (min-width: 1439px) and (max-width: 1600px) {

  /* body {
    background-color: yellow;
  } */
  .main-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(636px, 1fr));
  }

  .top-right-bottom>h1 {
    text-align: center;
    margin: 0;
    font-size: 1.95em;
    padding-right: 2px;
  }

  .top-right-bottom>p {
    text-align: center;
    font-size: 1em;
    font-family: var(--header-font);
    color: var(--main-text-color);
    font-weight: 900;
    padding-left: .3em;
    padding-top: 15px;
  }

  .bottom-navbar {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 45px;
    grid-gap: 10px;
    margin: 35px 87px 0 99px;
  }

  .color {
    width: 112%;
    height: 28px;
  }

  .main-work-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
    grid-gap: 2rem;
  }
}

@media (min-width: 1800px) {

  /* body {
    background-color: green;
  } */
  .bottom-navbar {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 45px;
    grid-gap: 10px;
    margin: 35px 87px 0 96px;
  }

  .main-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(636px, 1fr));
    /* min-height: 100vh; */
  }

  .work-title-container {
    display: inline-block;
    padding-top: 0px;
    margin: 100px 0 40px 285px;
  }

  .work-container {
    padding: 40px 0px 20px 251px;
  }

  .hover-zoom {
    width: 254px;
  }

  .hover-zoom:hover {
    transform: scale(1.5);
  }

  div.footer-container:nth-child(2) {
    margin-left: 875px;
  }
}
