/* Smartphones (landscape) ---------- */
@media (max-width: 320px) {
  /* body {
     background-color: lavender;
   } */

  .top-right-bottom>h1 {
    text-align: center;
    font-size: 1.5em;
    margin-top: 150px;
  }


  /* main0.css | file:///Users/Danyale/Documents/danyalecw.github.io/main0.css */

  header {
    /* height: 450px; */
    height: 105px;
  }

  .bottom-right > h1:nth-child(1) {
    /* height: 41px; */
    /* margin: 27px auto; */
    height: 29px;
    margin: 0px 1px 1px 128px;
  }

  h1 {
    /* font-size: 36px; */
    font-size: 21px;
  }

  .bottom-right {
    margin-left: -67px;
    margin-top: 25px;
  }


  .bottom-right > p:nth-child(2) {
    margin-left: 97px;
    margin-right: 35px;
    margin-top: 18px;
  }

  .w3-lavender {
    padding-left: 0px;
    padding-right: -20px;
    margin-top: 51px;
  }

  .work-title-container {
    margin-left: 27px;
  }

  .work-container {
    padding-left: 0px;
  }
}

@media (min-width: 321px) and (max-width: 375px) {
  /* body {
    background-color: brown;
  } */

  header {
    height: 105px;
  }

  .bottom-right > h1:nth-child(1) {
    height: 29px;
    margin: 0px 1px 1px 128px;
  }

  h1 {
    font-size: 24px;
  }

  .bottom-right {
    margin-left: -67px;
    margin-top: 46px;
}


  .bottom-right > p:nth-child(2) {
    margin-left: 101px;
    margin-top: 26px;
    margin-right: 43px;
}


  .w3-lavender {
    padding-left: 0px;
    padding-right: -20px;
    margin-top: 51px;
  }

  .work-container {
    padding-left: 0px;
  }

  .w3-lavender {
  margin-bottom: 86px;
  }

  .work-title-container {
    display: inline-block;
    padding-top: 0px;
    margin: 100px 0 25px 32px;
  }

  .work-line {
    position: static;
    display: inline-block;
    width: 77px;
    height: 3px;
    transform-origin: 0 50%;
    background-color: var(--main-text-color);
    margin: 0 0 8px 0;
  }

  .work-container {
    padding-top: 20px;
  }

  #contact > footer:nth-child(2) {
    margin-left: 13%;
  }


}

@media (min-width: 376px) and (max-width: 414px) {
  /* body {
    background-color: pink;
  } */

  header {
    height: 450px;
    height: 125px;
  }

  .w3-lavender {
  margin-bottom: 86px;
  }

  .bottom-right > p:nth-child(2) {
   margin-top: 33px;
   padding-top: 52px;
   margin-left: 50px;
   margin-right: 50px;
  }

  .color {
    width: 274px;
    height: 24px;
    margin: 13px 0 13px -46px;
  }

  .work-title-container {
    margin-top: 85px;
    margin-bottom: 0px;
  }
}

@media (min-width: 415px) and (max-width: 740px) {
  /* body {
    background-color: orange;
  } */

  header {
    height: 115px;
  }

  h1 {
    /* font-size: 36px; */
    font-size: 30px;
  }

  .bottom-right > h1:nth-child(1) {
  height: 36px;
  }

  img {
    height: 233px;
  }

  .w3-lavender {
    margin-bottom: 75px;
  }

  .bottom-right > p:nth-child(2) {
   padding-top: 52px;
  }

  .work-title-container {
    display: inline-block;
    padding-top: 0px;
    margin: 170px 0 25px 117px;
  }

  div.container.hover-zoom {
    margin-bottom: 42px;
  }


  .bottom-right > p:nth-child(2) {
    margin-left: 50px;
    margin-right: 50px;
  }

  .work-title-container {
    margin-top: 70px;
  }

  footer a {
    /* font-size: 25px; */
    font-size: 20px;
  }

  #contact > footer:nth-child(2) {
    margin-left: 11px;
    margin-right: 11px;
  }

  .contact {
    /* font-size: 62px; */
    font-size: 52px;
  }

  .CTA {
    margin-right: 18px;
  }

  div.w3-cell-row:nth-child(2) > div:nth-child(1) > p:nth-child(1) {
 margin-right: 8px;
}

}

@media (min-width: 741px) and (max-width: 900px) {
  /* body {
    background-color: blue;
  } */

  header {
    height: 125px;
  }

  .w3-lavender {
  margin-bottom: 86px;
  }

  .bottom-right > p:nth-child(2) {
   margin-top: 0px;
   padding-top: 52px;
   margin-left: 50px;
   margin-right: 50px;
  }

}

@media (min-width: 900px) and (max-width: 1024px) {
   /* body {
    background-color: purple;
  } */

   header {
     /* height: 450px; */
     height: 155px;
   }

   .w3-lavender {
     margin-bottom: 80px;
   }

   .bottom-right > p:nth-child(2) {
     margin: 100px 100px 0 100px;
   }

  .work-title-container {
    display: inline-block;
    padding-top: 0px;
    margin: 120px 0 40px 82px;
  }
}

@media (min-width: 1025px) and (max-width: 1112px) {
  /* body {
      background-color: turquoise;
    } */

    header {
      /* height: 450px; */
      height: 200px;
    }

    .bottom-right > h1:nth-child(1) {
      /* height: 41px; */
      height: 34px;
    }

    .w3-lavender {
      margin-bottom: 0px;
      margin-top: 33px;
    }

    h1 {
      /* font-size: 36px; */
      font-size: 30px;
    }

    .bottom-right > p:nth-child(2) {
      margin-top: 22px;
      margin-left: 105px;
      margin-right: 105px;
    }


}

/* @media (max-width: 1480) and (min-width: 1280px) { */
@media (min-width: 1439px) and (max-width: 1600px) {
  /* body {
    background-color: yellow;
  }


  header {
    height: 200px;
  }
  .bottom-right {
    margin-top: 250px;
  } */
}

@media (min-width: 1900px) {
  /* body {
    background-color: green;
  } */

  .work-title-container {
    display: inline-block;
    padding-top: 0px;
    margin: 100px 0 40px 285px;
  }

  .work-container {
    padding: 40px 0px 20px 251px;
  }

  .hover-zoom {
    width: 254px;
  }

  .hover-zoom:hover {
    transform: scale(1.5);
  }

  .top-right > header:nth-child(1) {
    margin-top: 140px;
  }

  .bottom-right > p:nth-child(2) {
    margin-left: 237px;
    margin-right: 237px;
}


  /* .wireframe-picture {
  margin-left: -106px;
  } */
}
