/* CSS Reset */
* {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
p,
pre,
blockquote,
figure,
hr {
  margin: 0;
  padding: 0;
}

ul, ol {
  list-style: none;
}

/* Browsers don’t inherit typography for forms and buttons. They set font to 400 11px system-ui. I find this mind-boggling and weird. I always have to make them inherit from ancestor elements manually. */
/* input,
textarea,
select,
button {
  color: inherit;
  font: inherit;
  letter-spacing: inherit;
} */

/* Different browsers have style the borders for forms elements and buttons differently. I dislike these default styles, and would prefer to set them to 1px solid gray. */
/* input,
textarea,
button {
  border: 2px solid #121643;
} */

/* I made a few more adjustments to buttons:
Set button padding to 0.75em and 1em because they seem like sensible defaults from my experience.
Removed the default border-radius that’s applied to buttons.
Forced background color to be transparent */
/* button {
  border-radius: 0;
  padding: 0.75em 1em;
  background-color: transparent;
} */

/* I also set these elements to display: block because inline-block creates an unwanted whitespace at the bottom of the element. */
embed,
iframe,
img,
object,
video {
  display: grid;
  max-width: 100%;
}

/* The hidden attribute
When an element has a hidden attribute, they should be hidden from view. Normalize.css does this for us already. */
[hidden] {
  display: none;
}

/* CSS Reset End--------------------------------*/
/* ----------START OF SITE SPECIFIC CSS-------- */
:root {
--main-text-color: #121643;
--main-background-color: #efeff2;
--header-font: 'Rubik', sans-serif;
--body-font: 'Karla', sans-serif;
--main-margin: 100px 35px 0 55px;
--main-padding: 20px;
}
/* ----------------- HEADER ---------------- */

body {
  margin: 0;
  font-family: var(--body-font);
  /* background-color: var(--main-background-color); */
  /* background-color: grey; */
  /* opacity: 0.33; */
}

header {
  overflow: hidden;
  background-color: #0D85A2;
  padding: 20px 40px 20px 31px;
}

body > main:nth-child(2) {
 margin-bottom: 50px;
}

.w3-wide {
  letter-spacing: 0px;
}

.w3-button:hover {
  color: #C8F2DF !important;
  background-color: #0D85A2 !important;
  text-decoration: none;
}

.logo {
  color: var(--main-background-color);
  line-height: 50px;
  font-weight: 900;
  font-size: 2em;
  font-family: 'Homemade Apple', cursive;
}

.walker {
  margin-left: 3em;
}

.w3-right {
  margin-top: 45px;
  font-size: 1em;
  font-weight: bold;
}

.header-right a {
  color: var(--main-background-color);
  text-align: center;
  margin-right: .75em;
  text-decoration: none;
  font-size: 1.3em;
  line-height: 3px;
}

/* .w3-right a:hover {
  color: #95849E;
  background-color:#5C396F;
  border-bottom-style: solid;
  border-bottom-color: #95849E;
  margin-bottom: 0px;
  padding-bottom: 0.75em;
  cursor: pointer;
} */
.w3-right a.active {
  text-decoration: none;
  color: #54B2BA;
  border-bottom-style: solid;
  border-bottom-color: #54B2BA;
  margin-bottom: 0px;
  padding-bottom: 0.75em;
}

a.w3-bar-item:nth-child(1) {
  padding-left: 3px;
  padding-right: 3px;
}

a.w3-bar-item:nth-child(2) {
  padding-left: 3px;
  padding-right: 3px;
}

a.w3-bar-item:nth-child(3) {
  padding-left: 3px;
  padding-right: 3px;
}

/* .grey {
  padding: 25px;
  padding-left: 100px;
  margin-left: 800px;
  background: url(Images/grey-background.jpg);
  background-repeat: no-repeat;
  background-size: 300px 1000px;
} */
.line {
  position: static;
  display: inline-block;
  width: 120px;
  height: 3px;
  transform-origin: 0 50%;
  background-color: var(--main-text-color);
  /* margin: 60px 0 10px 60px; */
  margin: 60px 0 -21px 60px;
  z-index: 0;
  transform: skewY(-6deg);
}

h1, h2, h3 {
  color: var(--main-text-color);
}

h1.title {
  font-size: 25px;
  display: inline-block;
  align-items: center;
  padding-left: 30px;
  margin-top: 65px;
  color: var(--main-text-color);
  z-index: 0;
  transform: skewY(-6deg);
}

/* ----- BACK TO WORK ----- */
a {
  text-decoration: none;
}

.arrow-back {
  float: right;
  text-decoration: none;
  font-family: var(--body-font);
  padding: 15px;
  background-color: transparent;
  */
  /* border-style: solid; */
  /* border-color: #5C396F; */
  /* border-width: 2px; */
  margin: 5px 5px 0 10px;
  font-size: 20px;
  cursor: pointer;
}

.arrow {
  font-size: 40px;
}

button.btn.work:hover, button {
  background-color: #95849E;
}

/* .grey1 {
  background-color: #d6d6c2;
  height: 196px;
  margin: -221px 300px 0 300px;
}

.grey2 {
  background-color: #d6d6c2;
  height: 194px;
  margin: -181px 300px 0 300px;
}

.grey3 {
  background-color: #d6d6c2;
  height: 570px;
  margin: -628px 300px 0 300px;
}

.grey4 {
  background-color: #d6d6c2;
  height: 574px;
  margin: -300px 300px -252px 300px;
}

.green {
  background-color: #0D85A2;
  height: 250px;
  margin: 0 300px -130px 300px;
} */
.skewed {
  position: static;
  margin: 127px 0 0 0;
  padding: 0 0 108px 0;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 130%;
  background: #C8F2DF;
  z-index: 0;
  transform: skewY(6deg);
  transform-origin: top right;
}

.mountain-lake {
  background-image: url("./Images/mountain-lake.jpg");
  height: 350px;
  margin: 0 60px 0 60px;
}

div.page-title {
  font-size: 30px;
  text-align: center;
  margin: 80px 0 80px 0;
  color: var(--main-text-color);
}

div.page-title2 {
  font-size: 20px;
  text-align: center;
  margin: 80px 0 70px 0;
  color: var(--main-text-color);
}

.present-pic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}

.shadow {
  position: static;
  height: 7px;
  transform-origin: 0 50%;
  margin: -16px 0 10px 645px;
  box-shadow: 10px 10px 5px grey;
  width: 110px;
}

.text {
  margin: 20px 212px 0 212px;
  letter-spacing: .6px;
  color: var(--main-text-color);
  z-index: 0;
  transform: skewY(-6deg);
}

/* ----- VIEW DESIGN ----- */
button.project-button {
  font-family: var(--body-font);
  padding: 0.75em;
  background-color: transparent;
  border-style: solid;
  border-color: #5C396F;
  border-width: 2px;
  margin: 0 auto;
  margin-top: 100px;
  display: block;
  font-size: 15px;
  cursor: pointer;
  color: #5C396F;
}

button.project-button.design {
  margin-top: 0;
}

button.project-button.current {
  transform: skewY(-6deg);
}

button:hover {
  background-color: #95849E;
}

/* ----------------- FOOTER ---------------- */
/* footer {
  background-color: #0D85A2;
} */
footer a {
  /* color: var(--main-background-color); */
  color: #0D85A2;
  font-size: 25px;
  /* text-decoration: underline #69abd7; */
  text-decoration: underline #C8F2DF;
  text-decoration: 5px;
  /* text-decoration: underline #69abd7 5px; */
  text-decoration: underline #C8F2DF 5PX;
}

footer p {
  /* color: var(--main-background-color); */
  color: #0D85A2;
}

footer a:hover {
  color: #C8F2DF;
  text-decoration: underline;
}
