/* CSS Reset */
* {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
p,
pre,
blockquote,
figure,
hr {
  margin: 0;
  padding: 0;
}

ul, ol {
  list-style: none;
}

/* Browsers don’t inherit typography for forms and buttons. They set font to 400 11px system-ui. I find this mind-boggling and weird. I always have to make them inherit from ancestor elements manually. */
/* input,
textarea,
select,
button {
  color: inherit;
  font: inherit;
  letter-spacing: inherit;
} */
/* Different browsers have style the borders for forms elements and buttons differently. I dislike these default styles, and would prefer to set them to 1px solid gray. */
/* input,
textarea,
button {
  border: 2px solid #121643;
} */
/* I made a few more adjustments to buttons:
Set button padding to 0.75em and 1em because they seem like sensible defaults from my experience.
Removed the default border-radius that’s applied to buttons.
Forced background color to be transparent */
/* button {
  border-radius: 0;
  padding: 0.75em 1em;
  background-color: transparent;
} */
/* I also set these elements to display: block because inline-block creates an unwanted whitespace at the bottom of the element. */
embed,
iframe,
img,
object,
video {
  display: grid;
  max-width: 100%;
}

/* The hidden attribute
When an element has a hidden attribute, they should be hidden from view. Normalize.css does this for us already. */
[hidden] {
  display: none;
}

/* CSS Reset End--------------------------------*/
/* ----------START OF SITE SPECIFIC CSS-------- */
:root {
  --main-text-color: #121643;
  --main-background-color: #efeff2;
  --header-font: 'Rubik', sans-serif;
  --body-font: 'Karla', sans-serif;
  --main-margin: 100px 35px 0 55px;
  --main-padding: 20px;
}

/* ----------------- HEADER ---------------- */
body {
  margin: 0;
  font-family: var(--body-font);
  /* background-color: var(--main-background-color); */
}

header, .w3-bar-block {
  background-color: #0D85A2;
  color: var(--main-background-color);
}

a {
  text-decoration: none;
}

/* .w3-button:hover {
  color: #8be7ef!important;
  background-color: #0D85A2 !important;
  text-decoration: none;
} */
.logo {
  color: var(--main-background-color);
  font-weight: 900;
  font-size: 2em;
  font-family: 'Homemade Apple', cursive;
  padding-left: 9px;
}

a.contact:nth-child(2) {
  padding-right: 0px;
}

.w3-right {
  font-size: 1.3em;
  font-family: var(--header-font);
}

a.active {
  font-family: var(--header-font);
  color: #54B2BA;
  border-bottom-style: solid;
  border-bottom-color: #54B2BA;
  margin-bottom: 0px;
  text-decoration: none;
}

.w3-container {
  /*! padding:0.01em 16px */
  /* padding: 24px 44px 24px 50px; */
}

/* ----- header end ------ */
main {
  padding-bottom: 100px;
}

.w3-button:hover {
  color: #54B2BA !important;
  background-color: #0D85A2 !important;
  text-decoration: none;
}

.arrow-back {
  font-family: var(--body-font);
  background-color: #C8F2DF;
  font-size: 20px;
  cursor: pointer;
  height: 60px;
  padding-top: .8%;
  padding-right: 4.4%;
  text-decoration: none;
}

p.back {
  float: right;
}

a:hover {
  color: #0D85A2;
}

.mountain-lake {
  background-image: url("./Images/mountain-lake.jpg");
  height: 350px;
}

div.page-title {
  font-size: 40px;
  font-weight: 900;
  text-align: center;
  margin: 80px 0 80px 0;
  color: var(--main-text-color);
}

div.page-title2 {
  font-size: 20px;
  text-align: center;
  margin: 80px 0 70px 0;
  color: var(--main-text-color);
}

.present-pic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}

.shadow {
  position: static;
  height: 7px;
  transform-origin: 0 50%;
  margin: -16px 0 10px 645px;
  box-shadow: 10px 10px 5px grey;
  width: 110px;
}

.skewed {
  position: static;
  margin: 127px 0 0 0;
  padding: 50px 0 110px 0;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 130%;
  background: #C8F2DF;
  z-index: 0;
  transform: skewY(6deg);
  transform-origin: top right;
}

h1.title {
  font-size: 25px;
  display: inline-block;
  align-items: center;
  /* margin: 65px 0 0 61px; */
  z-index: 0;
  transform: skewY(-6deg);
}

.text {
  /* margin: 20px 212px 0 212px; */
  font-size: 19px;
  letter-spacing: .2px;
  /* color: var(--main-text-color); */
  color: #042F68;
  z-index: 0;
  transform: skewY(-6deg);
}

h1.title:nth-child(6) {
  padding-top: 50px;
}

/* ----- VIEW DESIGN ----- */
button.project-button {
  font-family: var(--body-font);
  padding: 0.75em;
  background-color: transparent;
  border-style: solid;
  border-color: #0D85A2;
  border-width: 2px;
  margin: 0 auto;
  margin-top: 100px;
  display: block;
  font-size: 15px;
  font-weight: 900;
  cursor: pointer;
  color: #0D85A2;
  box-shadow: 3px 3px 4px gray;
  text-decoration: none;
}

button.project-button.design {
  margin-top: 0;
}

button.project-button.current {
  transform: skewY(-6deg);
}

button a:hover {
  color: #0D85A2;
  text-decoration: none;
}

button:hover {
  color: #0D85A2;
  background-color: #69abd7;
}

/* ----------------- FOOTER ---------------- */
hr {
  background-color: #0D85A2;
}

footer a, p {
  color: #0D85A2;
}

footer a:hover {
  color: #042F68;
  text-decoration: underline #042F68 3px;
}

/* ----- PRESENT CSS END ------ */
/* ------ MEDIA QUERIES ------ */
@media (max-width: 320px) {

  /* body {
    background-color: lavender;
  } */
  .logo {
    font-size: 1.3em;
  }

  .w3-right {
    margin: 0;
    /* position: absolute;
    top: 26%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-size: .8em; */
  }

  .arrow-back {
    padding-top: 11px;
  }

  .present-pic {
    width: 70%;
  }

  .mountain-lake {
    background-image: url("./Images/mountain-lake.jpg");
    height: 260px;
    margin: 0;
    width: 100%;
  }

  .line {
    width: 0px;
  }

  h1.title {
    font-size: 25px;
    display: inline-block;
    padding-left: 0px;
    margin-top: 65px;
    color: var(--main-text-color);
    z-index: 0;
    transform: skewY(-6deg);
    margin-left: 24px;
  }

  .text {
    margin-left: 24px;
    margin-right: 26px;
    margin-top: 25px;
  }
}

@media (min-width: 321px) and (max-width: 375px) {

  /* body {
    background-color: brown;
  } */
  /* header {
    height: 100px;
  } */
  .logo {
    font-size: 1.3em;
  }

  .w3-right {
    margin: 0;
    /* position: absolute;
    top: 23%;
    left: 51%;
    margin-right: -50%;
    transform: translate(-50%, -50%) */
  }

  .arrow-back {
    margin-top: 25px;
  }

  .present-pic {
    width: 70%;
  }

  .mountain-lake {
    background-image: url("./Images/mountain-lake.jpg");
    height: 260px;
    margin: 0;
    width: 100%;
  }

  .line {
    width: 0px;
  }

  h1.title {
    font-size: 25px;
    padding-left: 25px;
  }

  h1.title.cs {
    padding-top: 70px;
  }

  .text {
    margin-left: 24px;
    margin-right: 26px;
    margin-top: 25px;
  }
}

@media (min-width: 376px) and (max-width: 600px) {

  /* body {
    background-color: pink;
  } */
  .logo {
    font-size: 1.3em;
  }
  .present-pic {
    width: 56%;
  }

  .skewed>div:nth-child(1) {
    max-width: 1300px;
    padding-left: 18px;
    padding-right: 18px;
  }

  h1.title.cs {
    padding-top: 70px;
  }
}

@media (min-width: 601px) and (max-width: 1200px) {

  /* body {
    background-color: pink;
  } */
  .logo {
    font-size: 1.6em;
  }

  .present-pic {
    width: 56%;
  }

  .skewed>div:nth-child(1) {
    max-width: 1300px;
    padding-left: 18px;
    padding-right: 18px;
  }

  h1.title.cs {
    padding-top: 70px;
  }
}
@media (min-width: 601px) and (max-width: 1344px) {

  .w3-bar {
 padding-right: 10px;
}

}
