/* CSS Reset */
* {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
p,
pre,
blockquote,
figure,
hr {
  margin: 0;
  padding: 0;
}

ul, ol {
  list-style: none;
}

/* Browsers don’t inherit typography for forms and buttons. They set font to 400 11px system-ui. I find this mind-boggling and weird. I always have to make them inherit from ancestor elements manually. */
/* input,
textarea,
select,
button {
  color: inherit;
  font: inherit;
  letter-spacing: inherit;
} */

/* Different browsers have style the borders for forms elements and buttons differently. I dislike these default styles, and would prefer to set them to 1px solid gray. */
/* input,
textarea,
button {
  border: 2px solid #121643;
} */

/* I made a few more adjustments to buttons:
Set button padding to 0.75em and 1em because they seem like sensible defaults from my experience.
Removed the default border-radius that’s applied to buttons.
Forced background color to be transparent */
/* button {
  border-radius: 0;
  padding: 0.75em 1em;
  background-color: transparent;
} */

/* I also set these elements to display: block because inline-block creates an unwanted whitespace at the bottom of the element. */
embed,
iframe,
img,
object,
video {
  display: grid;
  max-width: 100%;
}

/* The hidden attribute
When an element has a hidden attribute, they should be hidden from view. Normalize.css does this for us already. */
[hidden] {
  display: none;
}

/* CSS Reset End--------------------------------*/
/* ----------START OF SITE SPECIFIC CSS-------- */
:root {
--main-text-color: #121643;
--main-background-color: #efeff2;
--header-font: 'Rubik', sans-serif;
--body-font: 'Karla', sans-serif;
--main-margin: 100px 35px 0 55px;
--main-padding: 20px;
}

/*
#54B2BA
#69abd7
#5c5374
#607bae
#75487C
#121643
#40222B
#efeff2
#95849E
#5C396F
*/
body {
  font-family: var(--body-font);
  background-color: var(--main-background-color);
}

header {
  background-color: #5C396F;
  color: var(--main-background-color);
}

header.w3-container {
 padding-left: 39px;
 padding-right: 29px;
}

main {
  margin-bottom: 50px;
}

.w3-button:hover {
  color: #95849E !important;
  background-color: #5C396F !important;
  text-decoration: none;
}

.logo {
  color: var(--main-background-color);
  font-weight: 900;
  font-size: 2em;
  font-family: 'Homemade Apple', cursive;
}

.w3-right {
  font-size: 1.3em;
  font-family: var(--header-font);
}

a.work {
  font-family: var(--header-font);
  color: #66c3cb;
}

/* ----- DESIGNS ------ */
.design-container {
  display: grid;
  max-width: 1440px;
  column-gap: 15px;
  row-gap: 15px;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
  grid-auto-rows: minmax(150px, auto);
  margin: 5% 0 5% 0;
}

.panel {
  /* needed for the flex layout*/
  /* margin-left: 20px;
  margin-right: 20px; */
  flex: 1 1 200px;
}

.tall-row {
  grid-row-end: span 2;
}

/* .tall-column {
  grid-column-end: span 2;
} */

.design-container > * {
  align-self: center;
  justify-self: center;
  color: var(--main-text-color);
  border-radius: 0;
  /* padding: 20px; */
  font-size: 150%;
  margin-bottom: 10px;
}

h3 {
  font-size: .8em;
  margin-top: 5px;
}

h4 {
  font-size: 0.7em;
}

div.text {
  margin-top: 2%;
}

div.text a {
  text-decoration: none;
}

div.text a:hover {
  color: #54B2BA;
  text-decoration: none;
}

img {
  box-shadow: 5px 5px 6px grey;
}

  /* ----- MAIN CSS END ------ */
  /* ------ MEDIA QUERIES ------ */
